{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>Welcome {{ session.full_name }}</h2>
<a href="/logout" class="btn btn-danger mt-3">
    Logout
</a>

<div class="card mt-4 shadow-sm">
    <div class="card-body text-center">

        <h4>Qur'an Practice</h4>

        <p>
            Select a Surah and start AI-powered recitation practice.
        </p>

        <a href="/surahs" class="btn btn-success">
            Start Practice
        </a>

    </div>
</div>

{% endblock %}